<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ this.projectID }}: {{ this.topicName }}
    </mat-panel-title>
    <mat-panel-description>
      <div *ngIf="!this.isEnd; else showError">
        <div *ngIf="!!this.lastUpdate; else waitResponse">
          Refreshed on {{ this.lastUpdate | date : "medium" }}
        </div>
      </div>
    </mat-panel-description>
    <button mat-icon-button (click)="removeTopic()"><mat-icon>clear</mat-icon></button>
  </mat-expansion-panel-header>
  <mat-card class="container">
    <p *ngFor="let m of messages">{{ m }}</p>
  </mat-card>
</mat-expansion-panel>

<ng-template #showError>Encountered an error</ng-template>
<ng-template #waitResponse>Waiting for server to respond</ng-template>
