<form [formGroup]="this.form" #formDirective="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label [attr.for]="this.currentTopic.projectID.key">{{this.currentTopic.projectID.label}}</mat-label>
    <input matInput [formControlName]="this.currentTopic.projectID.key" />
    <mat-error *ngIf="this.form.controls[this.currentTopic.projectID.key].hasError('required')"> GCP Project ID is <strong>required</strong> </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label [attr.for]="this.currentTopic.topicName.key">{{this.currentTopic.topicName.label}}</mat-label>
    <input matInput [formControlName]="this.currentTopic.topicName.key" />
    <mat-error *ngIf="this.form.controls[this.currentTopic.topicName.key].hasError('required')"> GCP Topic Name is <strong>required</strong> </mat-error>
    <mat-error *ngIf="this.form.controls[this.currentTopic.topicName.key].hasError('unique')"> Already subscribed to this topic </mat-error>
  </mat-form-field>

  <button mat-flat-button>Subscribe</button>
</form>

<div>
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>

<mat-accordion multi>
  <app-topic *ngFor="let t of this.topics;let i = index" [topicIndex]="i" [projectID]="t[0]" [topicName]="t[1]" (shouldRemove)="this.removeTopic($event)"></app-topic>
</mat-accordion>


